/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #1e3932;
}
h1 {
  color: #f2f0eb;
  font-size: 50px;
  padding: 2px 2px 6px 2px;
}

label {
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 30px;
  padding: 15px;
  border-radius: 5px;
  
  
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*
  border-style: solid;
  border-width: 4px;
  border-color: aqua;
  */
}
/* your code */
.city-item {
  background-color: darkgreen;
  text-align: end;
  padding-right: 5px;
  margin: 1.5% 2% 1.5% 2%;
}

.city-list {
  margin-top: 3%;
  margin-right: 20%;
  margin-left: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(202, 196, 196);
}